/* src/App.css */


h1 {
  margin-bottom: 3px;
}

.card-img-top {
  height: 25px;
  object-fit: cover;
}
body{
  background-color: rgb(113, 197, 158);
}
h1{
  font-size: 60px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-variant-numeric: lining-nums;
}
